<div class="container">
    <h3>Jadwal Pertandingan</h3>

    <table class="table table-striped table-hover">
        <thead>
            <tr class="text-center">
              <th scope="col">Tim</th>
              <th scope="col">Lawan</th>
              <th scope="col">Tim</th>
              <th scope="col">Waktu</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center">
                <td>Onic</td>
                <td>VS</td>
                <td>RRQ</td>
                <td>Sabtu, 22 OKTOBER 2020 19:00</td>
            </tr>
            <tr class="text-center">
                <td>Evos Legend</td>
                <td>VS</td>
                <td>Alter Ego</td>
                <td>Sabtu, 22 OKTOBER 2020 15:00</td>
            </tr>
        </tbody>    
    </table>
</div>