<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <div class="container">
    <a class="navbar-brand">
      <i class="fa fafutbal-o">&nbsp;</i>
      {{title}}
    </a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" routerLink="/">Home</a>
        <a class="nav-link active" routerLink="/leaderboard">Leaderboard</a>
        <a class="nav-link active" routerLink="/tournament">Tournament</a>
        <a class="nav-link active" routerLink="/profile">Profile</a>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>